body{
    text-align: center;
    width: 700px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
* {
    word-spacing: normal;
  }
  

h1{
    font-family: 'Bebas Neue', 'Teko', sans-serif; 
}

p{
    font-family: 'Padauk', 'Times New Roman', Times, sans-serif;
}
/*font-family: 'Bebas Neue', cursive;*/

p::first-letter {
    color: #2c0000;
    
  }
p::first-line {
    color: #5091AD;
  }

  button{
      border-width: 5px;
      border-style: double;
      border-radius: 50%;
      
  }
  a{
      font-family: 'Bebas Neue', cursive;;
      font-size: 19px;
      
      color: black;
      transition-duration: 0.5s;
      
  }
  a:hover{
    border-width: 6px;
    background-color: black;
    color: wheat;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
    

    #title{
        background-color:whitesmoke;
        color: #2c0000;
    }

    .para{
        font-size: 19px;
        line-height: 1.45em;
        font-kerning: 1em;
        
    }

    #story{
       border-style: double; 
       border-width: .75em;
    }