



h1{
    color: rgb(193, 193, 255);
    font-family: 'Girassol', cursive;
}

nav{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 3ch;
    padding-left: 100px;
    border-style: groove;
    border-width: 10px;
    background-color: black;
    width: 800px;
}
button{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1ch;
    padding-left: 100px;
    border-style: groove;
    border-width: 10px;
    background-color: rgb(1, 0, 8);
}

#Introduction{
padding-left: 100px;
background-color: rgb(0, 0, 12);
color: cornsilk;
width: 800px;
text-align: center;
}

hr{
    padding-left: 100px;
    padding-right: 100px;
    border-style: dotted;
}

#blob{
    background-color: rgb(1, 0, 8);
    color: azure;
    padding-left: 100px;
    width: 600px;
    padding-right:200px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#items{
    border-style: groove;
    border-width: 10px;

}

a:link {
    color: rgb(183, 117, 228);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(135, 193, 240);
    background-color: darkblue;
    text-decoration: none;
  }
  
  table{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding-left: 100px;
    border-style: groove;
    border-width: 10px;
    background-color: rgb(1, 0, 8);
  }

  #why{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding-left: 100px;
    border-style: groove;
    border-width: 10px;
    background-color: rgb(1, 0, 8);
    width: 800px;  
  }

  #contactform{
    
        color: rgb(255, 255, 255);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        padding-left: 100px;
        border-style: groove;
        border-width: 10px;
        background-color: rgb(1, 0, 8);
        width: 600px;  
        text-align: center;
      }
  