body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(57, 136, 136);
    
}

.hidden-content {
    display: none;
    font-size: 1em;
    font-style: italic;
    padding: 1em;
    background-color:black;
    color: blanchedalmond;
    width:100px;
}
.drop:hover .hidden-content {
    display: block;
}

.drop{
    color: blanchedalmond;
    background-color: black;
    width: 100px;
    float: left;
    
}
#navi{
    background-color: black;
    width: 100px;
    float: left;
}

button{
    border: rgb(26, 113, 172);
    border-style: groove;
    border-width: 5px;
    width: 100px;
    height: 50px;
}

#blob{
    background-color: black;
    width: 200px;
    height: 900px;
    float: left;
    border: rgb(26, 113, 172);
    border-style: groove;
    border-width: 5px;
}

#title{
    float:none;
    background-color: black;
    color: blanchedalmond;
    width: 500px;
    size: 2em;
    text-align: center;
    margin-left: 200px;
    width: 1200px;
    border: rgb(26, 113, 172);
    border-style: groove;
    border-width: 5px;
}

#side{
    background-color: black;
    width: 200px;
    height: 900px;
    float: right;
    border: rgb(26, 113, 172);
    border-style: groove;
    border-width: 5px;
}

.photos{
 margin-left: 600px;
 margin-right: 550px;
 border: rgb(26, 113, 172);
    border-style: groove;
    border-width: 5px;
    padding-left: 10px;
    padding-top: 10px;
 
}