.hidden-content {
    display: none;
    font-size: 1em;
    font-style: italic;
    padding: 1em;
    background-color:black;
    color: blanchedalmond;
    width:100px;
}
.drop:hover .hidden-content {
    display: block;
}

.drop{
    color: blanchedalmond;
    background-color: black;
    width: 100px;
    float: left;
    
}
#navi{
    background-color: black;
    width: 100px;
    float: left;
}

#blob{
    background-color: black;
    width: 200px;
    height: 900px;
    float: left;
}

#title{
    float:none;
    background-color: black;
    color: blanchedalmond;
    width: 500px;
    size: 2em;
    text-align: center;
    margin-left: 200px;
    width: 1000px;
}